.gloweffect {
    --glow-line-color: #ccc;
    --glow-line-color-dark: #333;
    --glow-line-width: 1px;
    --glow-line-length: 40px;
    --glow-blur-color: #fff;
    --glow-blur-color-dark: #000;
    --glow-blur-width: 2px;
    --contianer-offset: 100px;
    --animation-speed: 0.8s;
}

.glowcontainer {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    inset: calc(var(--contianer-offset) / -2);
    width: calc(100% + var(--contianer-offset));
    height: calc(100% + var(--contianer-offset));
}

.glowblur, .glowline {
    width: calc(100% - var(--contianer-offset));
    height: calc(100% - var(--contianer-offset));
    fill-opacity: 0;
    x: calc(var(--contianer-offset) / 2);
    y: calc(var(--contianer-offset) / 2);
    stroke-dasharray:
        var(--glow-line-length)
        calc(100px - var(--glow-line-length));
}

.glowline {
    stroke: var(--glow-line-color);
    stroke-width: var(--glow-line-width);
}

.glowblur {
    stroke: var(--glow-blur-color);
    stroke-width: var(--glow-blur-width);
}

@media (prefers-color-scheme: light) {
    .glowline {
    }
    .glowblur {
    }
}

.gloweffect:is(:hover, :focus) :is(.glowline, .glowblur) {
    stroke-dashoffset: -20px;
    stroke-dasharray: 100 0;
    opacity: 1;
    will-change: stroke-dashoffset, transition;
    transition:
        stroke-dashoffset var(--animation-speed),
        stroke-dasharray var(--animation-speed),
        opacity 0.1s;
}

.gloweffect:is(:focus) :is(.glowline) {
    stroke: #f00;
}

.gloweffect:is(:hover, :focus) .glowcontainer {
    opacity: 1;
    will-change: opacity;
    transition: opacity 0.2s;
}

@keyframes glow-visibility {
    0% { opacity: 1 }
    100% { opacity: 1 }
}